/* Write your CSS code here */
.product-image {
  height: 100px;
  width: 100px;
}

@media screen and (min-width: 768px) {
  .product-image {
    height: 200px;
    width: 200px;
  }
}

.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
